<!--<ngx-charts-bar-horizontal-2d-->
<!--  [view]="view"-->
<!--  [scheme]="colorScheme"-->
<!--  [schemeType]="schemeType"-->
<!--  [results]="multi"-->
<!--  [gradient]="gradient"-->
<!--  [xAxis]="showXAxis"-->
<!--  [yAxis]="showYAxis"-->
<!--  [legend]="showLegend"-->
<!--  [legendPosition]="legendPosition"-->
<!--  [showDataLabel]="showDataLabel"-->
<!--  [showXAxisLabel]="showXAxisLabel"-->
<!--  [showYAxisLabel]="showYAxisLabel"-->
<!--  [xAxisLabel]="xAxisLabel"-->
<!--  [yAxisLabel]="yAxisLabel"-->
<!--  (select)="onSelect($event)"-->
<!--  (activate)="onActivate($event)"-->
<!--  (deactivate)="onDeactivate($event)"-->
<!--  >-->
<!--</ngx-charts-bar-horizontal-2d>-->

<ngx-charts-bar-horizontal-2d
        [view]="view"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showDataLabel]="showDataLabel"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="disableTooltip"
        [showGridLines]="showGridLines"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
>
</ngx-charts-bar-horizontal-2d>
